---
import { getLaunchesById } from "../../services/spacex";
import Layout from "../../layouts/Layout.astro";
import { Like } from "../../preact/Like";

const { id } = Astro.params;

let launch;

if (id) {
    launch = await getLaunchesById({ id });
}

const launchStatus = launch?.success ? "Success" : "Failure";
---

<Layout title=`${launch?.name}`>
    {
        !launch ? (
            <h1>Not launch exist</h1>
        ) : (
            <section class="flex flex-col gap-4">
                <article
                    transition:name={`lauchCart-${id}`}
                    class="rounded-lg border shadow-md bg-gray-800 border-gray-700 flex gap-4 w-full p-5"
                >
                    <aside class="w-1/2 flex justify-center bg-gray-700 rounded-md p-4">
                        <img
                            transition:name={`launch-${id}`}
                            src={launch.links.patch.small}
                            class="aspect-auto object-cover w-96 h-auto"
                            alt=""
                        />
                    </aside>

                    <aside class="w-1/2 flex flex-col gap-3">
                        <span
                            class:list={[
                                `text-xl text-center font-semibold px-2.5 py-0.5 rounded`,
                                {
                                    "bg-green-400 text-green-900":
                                        launch.success,
                                    "bg-red-400 text-red-900": !launch.success,
                                },
                            ]}
                        >
                            {launchStatus}
                        </span>

                        <header class="flex items-center justify-between">
                            <h1 class="text-5xl font-extrabold">
                                {launch.name}
                            </h1>
                            <Like id={id} transition:persist client:only />
                        </header>

                        <article>
                            <p class="text-2xl font-light text-gray-400">
                                {launch.details}
                            </p>
                        </article>

                        <footer class="flex flex-row-reverse mt-auto w-full gap-3">
                            <span class="flex gap-2 items-center hover:scale-110 transition-all">
                                <img src="../../../public/youtube.png" alt="" />
                                <a
                                    target="_blank"
                                    href={launch.links.webcast}
                                    class="font-bold"
                                >
                                    Webcast
                                </a>
                            </span>
                            <span class="flex gap-2 items-center hover:scale-110 transition-all">
                                <img
                                    src="../../../public/wikipedia.png"
                                    alt=""
                                />
                                <a
                                    target="_blank"
                                    href={launch.links.article}
                                    class="font-bold"
                                >
                                    Article
                                </a>
                            </span>
                        </footer>
                    </aside>
                </article>

                <article class="rounded-lg border shadow-md bg-gray-800 border-gray-700 flex flex-col gap-4 w-full p-5">
                    <h1 class="text-5xl flex gap-4 font-extrabold">
                        Wikipedia
                    </h1>
                    <iframe class="min-h-96" ></iframe>
                </article>
            </section>
        )
    }
</Layout>
