---
import { getLaunchesById } from "../../services/spacex";
import Layout from "../../layouts/Layout.astro";
import { Like } from "../../preact/Like";

const { id } = Astro.params;

let launch;

if (id) {
    launch = await getLaunchesById({ id });
}
---

<Layout title=`lanzamiento`>
    {
        !launch ? (
            <h1>Not launch exist</h1>
        ) : (
            <article
                transition:name={`lauchCart-${id}`}
                class="rounded-lg border shadow-md bg-gray-800 border-gray-700 flex gap-4 w-full p-5"
            >
                <aside class="w-1/2 flex justify-center bg-gray-700 rounded-md p-4">
                    <img
                        transition:name={`launch-${id}`}
                        src={launch.links.patch.large}
                        class="aspect-auto object-cover w-96 h-auto"
                        alt=""
                    />
                </aside>

                <aside class="w-1/2">
                    <div class="flex items-center justify-between">
                        <h1 class="text-5xl font-extrabold">{launch.name}</h1>
                        <Like id={id} transition:persist client:only></Like>
                    </div>
                </aside>
            </article>
        )
    }
</Layout>
